:root {
    --header-color: #095785;
    --transition-color: #363338;
    --black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.clear {
    clear: both
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    z-index: 2
}

.logo img {
    width: 50vh;
    float: left;
    width: 75px;
    height: 55px;
}

.logo span {
    width: 50vh;
    float: left;
    width: 170px;
    padding: 18px;
    font-weight: bold;
    font-size: 21px;
    color: var(--black-color);
}

.navigation {
    width: 50vh;
    float: right;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 17px;
}

#navbar ul a {
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    font-size: 21px;
    font-weight: bold;
}

#navbar ul a:hover {
    text-decoration: underline;
    color: var(--transition-color);
}

.welcome {
    background-image: url(./images/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: 0;
}

#welcome-section {
    height: 100vh;
    padding-top: 60px;
}

.welcome .container {
    padding-top: 20%;
}

.welcome .container h1 {
    color: var(--black-color);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.welcome .container p {
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    color: var(--black-color);
    font-weight: bold;
    z-index: 2;
}

#project-title {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 35px;
}

#projects img {
    width: 350px;
    height: 400px;
    object-fit: cover;
}

#projects {
    width: 100%;
    height: auto;
    background-color: #499fe6;
    padding-bottom: 50px;
}

.table-projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 4rem;
    max-width: 1200px;
    margin: 10px auto;
}

/*      ESTUDAR GRID LAYOUT DOCUMENTAÇÃO - VIDEOS         */
/*      ESTUDAR FLEXBOX DOCUMENTAÇÃO - VIDEOS             */
/*      ESTUDAR ANIMATION/KEYFRAMES DOCUMENTAÇÃO - VIDEOS */

.project:hover {
    transform: translate(6px, 6px);
    -webkit-box-shadow: inset -1px -2px 21px 14px rgba(105, 96, 105, 1);
    -moz-box-shadow: inset -1px -2px 21px 14px rgba(105, 96, 105, 1);
    box-shadow: inset -1px -2px 16px 1px rgba(105, 96, 105, 1);
}

.project {
    width: 350px;
    height: 450px;
    background: linear-gradient(160deg, #85898b 0%, #363338 100%);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 22px 5px rgba(71, 70, 71, 1);
    -moz-box-shadow: 0px 0px 22px 5px rgba(71, 70, 71, 1);
    box-shadow: 0px 0px 15px 5px rgb(46, 46, 46);
    text-align: center;
    transition: all 0.4s linear;
    margin: 0 auto;
}


.project h2,
a {
    margin-top: 9px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: lighter;
    font-size: 19px;
}

#contato {
    width: 100%;
    height: 70vh;
    background-color: rgb(2, 155, 219)
}

.title-section {
    text-align: center;
    padding-top: 250px;
    font-size: 23px;
    color: rgb(255, 255, 255);
}

.title-section p {
    color: var(--black-color);
    font-weight: bold;
    font-size: 19px;
    margin-top: 10px;
}

.icons-contact {
    text-align: center;
    margin-top: 70px;
}

.icons-contact a {
    font-size: 23px;
    color: var(--black-color);
    display: inline-block;
    padding-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.icons-contact i {
    font-size: 28px;
    margin: 0 25px;
    color: var(--black-color);

}

.icons-contact a:hover {
    cursor: pointer;
    transform: translateY(6px);
    color: var(--transition-color);
    font-weight: bold;
}

.icons-contact a {
    font-weight: bold;
}

footer {
    width: 100%;
    height: 100px;
    border-top: 6px solid var(--header-color);
    background: linear-gradient(160deg, #686b6d 0%, #181719 100%);
    display: flex;
}

footer .container {
    display: flex;
    width: 100%;
    margin: 40px auto 0px auto;
    font-weight: bold;
    font-size: 19px;
    color: var(--black-color);
}

.description {
    width: 65%;
    float: left;
}

.copyright {
    width: 35%;
    float: right;
}

@media screen and (max-width: 1250px) {
    .logo img {
        margin-left: 15px;
    }

    .table-projects {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 1rem;
        margin: 10px auto;
    }

    .welcome .container {
        padding-top: 35%;
    }

    footer .container {
        display: block;
        margin: 20px auto;
        font-weight: bold;
        font-size: 19px;
    }

    .description {
        width: 100%;
        float: none;
    }

    .copyright {
        width: 100%;
        float: none;
    }

    footer p {
        padding: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    .welcome .container {
        padding-top: 45%;
    }

    .welcome .container p {
        font-size: 15px;
    }

    .welcome .container h1 {
        font-size: 40px;
    }

    .logo span {
        width: 170px;
        margin: 0px;
        font-size: 18px;
        text-align: center;
    }

    .navigation {
        width: 30vh;
    }

    footer .container {
        display: block;
        margin: 10px auto;
    }

}

@media screen and (max-width: 620px) {
    .logo img {
        width: 50vh;
        float: left;
        width: 75px;
        height: 55px;
    }

    .logo span {
        display: inline-block;
        width: 80%;
        margin: 0px auto;
    }

    .icons-contact {
        margin-right: 40px;
    }

    .navigation {
        display: none;
    }

    .welcome .container {
        padding-top: 80%;
    }

    .welcome .container h1 {
        font-size: 30px;
    }

    .welcome .container p {
        font-size: 15px;
    }

    footer .container {
        margin: 10px auto;
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }

    .copyright {
        font-size: 14px;
    }
}